@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');

/* Custom colors */

:root {
	--main-bg-color: #1C1C1C;
	--secondary-bg-color: #4D4D4D;
	--tertiary-bg-color: #6D6D6D;
	--main-fg-color: #FFFFFF;
	--secondary-fg-color: #D9D9D9;
	--tertiary-fg-color: #B3B3B3;
	--main-a-link-color: #D9D9D9;
	--secondary-a-link-color: #B3B3B3;
	--green-color: #0F9D58;
	--orange-color: #F4B400;
	--red-color: #DB4437;
	--black-color: #000000;
  --blue-color: #4285F4;
}

/* Animations */

@keyframes pulse {
  0% {
    border-left-width: 4px;
  }
  50% {
    border-left-width: 7px;
  }
  100% {
    border-left-width: 4px;
  }
}

/* START */

html {
	overflow: scroll;
	overflow-x: hidden;
}

::-webkit-scrollbar {
	/* Remove scrollbar space */
	background: transparent;
	/* Optional: just make scrollbar invisible */
}

::-webkit-scrollbar-thumb {
	display: none;
}


/* Issues */

div.issue {
	background: var(--secondary-bg-color);
	border-radius: 10px;
}

img.gravatar {
	background: var(--main-bg-color);
	border-color: var(--main-bg-color);
}

div.wiki pre {
	background-color: var(--secondary-bg-color);
	border-color: var(--main-bg-color);
	border-radius: 5px;
}

ul.tagit {
	background: var(--main-bg-color);
}


/* Issue Table */
/* Chiuso/Rifiutato */
tr.issue.closed {
  border-left: 4px solid var(--red-color);
}
/* Risolto */
tr.issue.status-3 {
  border-left: 4px solid var(--green-color);
}
/* Testing interno, Passed Int, Passed Stg */
tr.issue.status-12,tr.issue.status-18 {
  border-left: 4px solid var(--blue-color);
}
/* Doing */
tr.issue.status-2 {
  border-left: 4px solid var(--orange-color);
  animation: pulse 2s infinite;
}
/* Planning */
tr.issue.status-13 {
  border-left: 4px solid var(--tertiary-fg-color);
}

table.list th {
	background-color: var(--main-bg-color);
	padding: 10px
}

table.list thead th {
	border-color: var(--tertiary-bg-color);
}

table tr.odd {
	background-color: var(--main-bg-color);
}

table tr.even,
table tr.even.priority-lowest,
tr.odd.priority-lowest {
	background-color: var(--main-bg-color);
}

table tr.even.priority-lowest {
	color: var(--secondary-bg-color);
}

table tr.odd.priority-lowest {
	color: var(--secondary-bg-color);
}

table.list tbody td,
table.list tbody tr:hover td {
	border: solid 1px var(--secondary-bg-color);
	padding: 5px;
}

div#content .context-menu-selection {
	background-color: var(--main-bg-color);
}

select[multiple="multiple"] {
	background-color: var(--main-bg-color);
	color: var(--main-fg-color);
}


/* Body Text */

body {
	color: var(--main-fg-color);
	font-family: Roboto Mono;
}


/* Header */

#content h1,
h2,
h3 {
	color: var(--main-fg-color);
	border-bottom: 1px solid;
	text-transform: uppercase;
}

h4 {
  color: var(--main-fg-color);
}
h5 {
  color: var(--secondary-fg-color);
}

input,
fieldset#filters td.values input,
select {
	background-color: var(--main-bg-color);
	border: 1px solid var(--tertiary-fg-color);
	color: var(--tertiary-fg-color);
	border-radius: 4px;
}

select {
	background-color: var(--main-bg-color);
	background: none;
	color: var(--tertiary-fg-color);
	border: 1px solid var(--tertiary-bg-color);
}

select option {
	background-color: var(--main-bg-color);
	color: var(--secondary-fg-color);
}


/* Main Background */

html {
	background-color: var(--main-bg-color);
}

#content {
	background-color: var(--main-bg-color);
	border-right: none;
}

#footer {
	background-color: var(--main-bg-color);
	border-top: none;
}

p.other-formats {
	color: var(--secondary-fg-color);
}


/* Main Header */

#header {
	background-color: var(--main-bg-color);
	color: var(--main-fg-color);
}

#main {
	background-color: var(--main-bg-color);
	padding: 0px 0px 0px 20px;
}

#sidebar,
#content {
	float: left;
}

#sidebar {
	background-color: var(--secondary-bg-color);
	border: 0;
	width: 0;
	opacity: 0;
	transition: all 0.3s ease-in-out;
}

#content {
	transition: all 0.3s ease-in-out;
}

#sidebar:hover {
	width: 20vw;
	opacity: 1;
}

#content:hover+#sidebar {
	width: 80vw;
	opacity: 1;
}

#watchers {
	display: block;
}

#sidebar h3 {
	color: var(--tertiary-fg-color);
}


/* Calendar */

table.cal thead th,
table.cal td.week-number {
	background-color: var(--main-bg-color);
}

table td.odd {
	background-color: var(--main-bg-color);
}

table td.even {
	background-color: var(--main-bg-color);
	background: none;
}

table.cal td.today {
	background-color: var(--tertiary-fg-color);
}

div.tooltip:hover span.tip {
	background-color: var(--main-bg-color);
	color: var(--secondary-fg-color);
}

table.cal td {
	border-color: var(--tertiary-bg-color);
}

table.cal {
	border-color: var(--tertiary-bg-color);
}


/* Wiki */

.wiki h1,
.wiki h2,
.wiki h3 {
	color: var(--main-fg-color);
}

.wiki.wiki-page {
	color: var(--secondary-fg-color);
}

.wiki-preview {
  background-color: var(--primary-bg-color);
  padding: 15px;
  max-width: 97%;
}


/* Editing */

.box {
	background: var(--main-bg-color);
	color: var(--secondary-fg-color);
}

textarea {
	background: var(--main-bg-color);
	color: var(--secondary-fg-color);
	padding: 5px 4px;
}

ul.tagit {
	background: var(--main-bg-color) !important;
}

ul.tagit li.tagit-new input {
	background: var(--main-bg-color) !important;
}

#attachments_fields input.filename {
	color: var(--secondary-fg-color);
}

#preview fieldset {
	background: inherit;
}

fieldset,
.box {
	border-radius: 10px;
}

.collapsible {
	border-radius: 0px;
}


/* Settings */

#content .tabs ul li {
	background: var(--main-bg-color);
}

#content .tabs ul li a.selected {
	background-color: var(--tertiary-bg-color);
	color: var(--main-fg-color);
}

#content .tabs ul li a.selected:hover,
#content .tabs ul li a:hover {
	background-color: var(--main-bg-color);
	color: var(--main-fg-color);
}

#content .tabs ul li a {
	background-color: var(--main-bg-color);
	color: var(--secondary-fg-color);
}

legend {
	color: var(--secondary-fg-color);
}

.nodata,
.warning {
	background-color: var(--tertiary-fg-color);
	border-color: var(--tertiary-fg-color);
	color: var(--main-fg-color);
}


/* Date Picker */

.ui-widget-content,
.ui-datepicker .ui-state-default {
	background: var(--main-bg-color);
	border-color: var(--secondary-bg-color);
	color: var(--secondary-fg-color);
}

.ui-datepicker .ui-state-default:hover {
	background: var(--main-bg-color);
	color: var(--main-fg-color);
}

.ui-datepicker .ui-widget-header {
	background: var(--main-bg-color);
	border-color: var(--secondary-bg-color);
}

.ui-state-hover,
.ui-widget-content .ui-state-hover,
.ui-widget-header .ui-state-hover,
.ui-state-focus,
.ui-widget-content .ui-state-focus,
.ui-widget-header .ui-state-focus {
	background: var(--main-bg-color);
	color: var(--main-fg-color);
}


/* Activity */

div#activity dt .time {
	color: var(--secondary-fg-color);
}

div#activity dd span.description,
#search-results dd span.description {
	color: var(--secondary-fg-color);
}

.issue-card .fields .project {
	margin: 5px 0 10px 0;
	border-radius: 3px;
	max-height: 15px;
	background-color: var(--secondary-bg-color);
	border: 1px solid var(--secondary-bg-color);
	color: var(--main-fg-color);
	overflow: hidden;
}

.issue-card p.name,
.issue-card p.name a {
	display: block;
	width: auto;
	background: none;
	height: 30px;
	overflow: hidden;
	font-size: 12px;
}

.issue-card p.name a:hover {
	transform: none;
}

.issue-card {
	border-radius: 6px;
	padding: 8px;
	border: 1px solid var(--tertiary-bg-color);
	height: 80px;
	overflow: hidden;
	margin-bottom: 15px;
	background-color: var(--main-bg-color);
	transition: all .2s ease-in-out;
}

.issue-card:hover {
	transform: scale(1.05);
}

.issue-card.bk-lightgreen {
	border: 1px solid var(--green-color);
}

.issue-card.bk-lightgreen .fields .project {
	border: 1px solid var(--green-color);
	background-color: var(--green-color);
}

.issue-card.bk-yellow {
	border: 1px solid var(--orange-color);
}

.issue-card.bk-yellow .fields .project {
	border: 1px solid var(--orange-color);
	background-color: var(--orange-color);
	color: var(--black-color);
}

.issue-card.bk-red {
	border: 1px solid var(--red-color);
}

.issue-card.bk-red .fields .project {
	border: 1px solid var(--red-color);
	background-color: var(--red-color);
	color: var(--black-color);
}

.quick-edit-card {
	display: none;
}

#content {
	margin: 0px;
	width: 80vw;
	padding: 15px;
}

table {
	color: var(--main-fg-color);
}

tr.priority-highest a,
tr.priority-5:hover a {
	color: var(--red-color);
}

tr.odd.priority-highest,
table.list tbody tr.odd.priority-highest:hover {
	color: var(--red-color);
}

div.flash.notice,
#flash_notice {
	background-color: var(--green-color);
}

div.journal.private-notes {
	border-left: 4px solid var(--red-color);
	padding-left: 5px;
}

#wrapper {
	background: inherit;
}

.breadcrumbs {
	display: none;
}

a,
a:link {
	color: var(--main-a-link-color);
}

.group td {
	background-color: var(--secondary-bg-color);
  color: var(--main-fg-color);
}

#quick-search form label a {
	color: var(--main-fg-color);
}

.drdn-content {
	background-color: var(--tertiary-bg-color);
	border-radius: 10px;
  width: 450px;
}

#project-jump .drdn-items>* {
	color: var(--secondary-a-link-color);
	border: none;
}

#project-jump .drdn-items>*:hover {
	transform: none;
}

#project-jump .drdn-trigger {
	background-color: var(--main-fg-color);
	border-radius: 10px;
}

.block-receiver,
.mypage-box {
	border: none;
}

h2,
h3 {
	border-bottom: none;
}

table.list tbody tr:hover {
	background-color: var(--main-bg-color);
}

tr.priority-highest,
table.list tbody tr.even.priority-highest:hover {
	color: inherit;
}

tr.priority-highest td.priority {
	font-weight: bold;
	color: var(--red-color);
}

tr.priority-lowest td.priority {
	font-weight: bold;
	color: var(--main-a-link-color);
}

tr.priority-3 td.priority {
	color: var(--orange-color);
}

#login-form {
	background-color: var(--main-bg-color);
	color: var(--main-fg-color);
	border-color: var(--secondary-bg-color);
}

table.list:not(.odd-even) tbody tr:nth-child(odd),
.odd,
#issue-changesets div.changeset:nth-child(odd) {
	background-color: var(--main-bg-color);
}

table.list:not(.odd-even) tbody tr:nth-child(even),
.even,
#issue-changesets div.changeset:nth-child(even) {
	background-color: var(--main-bg-color);
}

table.list tbody td,
table.list tbody tr:hover td {
	border-color: var(--tertiary-bg-color);
}

table.list,
.table-list {
	border-color: var(--secondary-bg-color);
}

fieldset.collapsible {
	border-color: var(--tertiary-bg-color);
}

#context-menu ul {
	background-color: var(--tertiary-bg-color);
	border-color: var(--tertiary-bg-color);
}

#context-menu li {
	border: 0 var(--secondary-bg-color);
	padding: 3px;
}

div#content #context-menu li:hover {
	background-color: var(--secondary-bg-color);
}

.drdn-items>a:hover {
	background-color: var(--secondary-bg-color);
}

.drdn-items {
	overflow-x: hidden;
	overflow-y: auto;
}

.attribute .label {
	text-transform: uppercase;
	text-align: right;
}

.journal .wiki,
.description .wiki {
	margin-left: 10px;
}

div.journal.private-notes .wiki {
	border-left: none;
}

#main-menu {
	background-color: var(--secondary-bg-color);
	text-transform: uppercase;
}

#main-menu li a.new-object {
	background-color: var(--main-bg-color);
}

a {
	transition: all .2s ease-in-out;
}

a:hover {
	transform: scale(1.1);
}

.description div.wiki pre {
	background-color: var(--main-bg-color);
}

img {
	border-radius: 10px;
	border: 1px solid var(--secondary-fg-color);
	max-width: 500px;
	clear: left;
}

.filecontent-container img {
	max-width: 100%;
}

.preview {
	background-image: none;
}

.issues-board thead {
	text-transform: uppercase;
}

.highlight,
.highlight.token-1,
.highlight.token-2,
.highlight.token-3 {
	color: var(--black-color);
}

.toc {
	background-color: var(--main-bg-color);
	border-radius: 10px;
	padding: 10px;
}

div.wiki a.new {
	color: var(--red-color);
}

.autoscroll table {
	background-color: var(--main-bg-color);
}

table.filecontent th {
	background-color: var(--secondary-bg-color);
	border-color: var(--secondary-bg-color);
}

.badge {
	background-color: var(--main-bg-color);
}

.badge-status-open {
	color: var(--green-color);
	border: 2px solid var(--green-color);
}

.badge-status-closed {
	color: var(--red-color);
	border: 2px solid var(--red-color);
}

tr.odd.priority-high2,
table.list tbody tr.odd.priority-high4:hover,
tr.even.priority-high2,
table.list tbody tr.even.priority-high4:hover {
	color: inherit;
}

#fixed-header div.contextual a.icon,
#fixed-header div.contextual a.icon:hover,
#fixed-header div.contextual a.icon:active {
	color: var(--main-fg-color);
}

.contextual {
	opacity: 1;
	transition: none;
}

#history h4.note-header {
	background-color: inherit;
}

#history div:target h4.note-header {
	border-bottom-width: 3px;
}

div.wiki a:target+h1,
div.wiki a:target+h2,
div.wiki a:target+h3,
div.wiki a:target+h4,
div.wiki a:target+h5,
div.wiki a:target+h6 {
	background-color: inherit;
	font-weight: bold;
}

div.wiki a:target+h1::before,
div.wiki a:target+h2::before,
div.wiki a:target+h3::before,
div.wiki a:target+h4::before,
div.wiki a:target+h5::before,
div.wiki a:target+h6::before {
	position: relative;
	content: 'ᐅ ';
}

#agile-chart {
	background-color: var(--secondary-fg-color);
	border-radius: 10px;
	padding: 5px;
  height: 500px;
}

h5 code {
  color: var(--main-fg-color);
}

div.wiki *:not(pre)>code, div.wiki>code {
    background: var(--secondary-bg-color);
    padding: 1px 4px 1px 4px;
    border-radius: 5px;
}

.syntaxhl {
  background-color: transparent;
}

.syntaxhl * {
  background-color: transparent;
  color: var(--main-fg-color);
}

body.textarea-monospace textarea.wiki-edit {
  font-size: inherit;
}

.mce-container, .mce-container *, .mce-widget, .mce-widget *, .mce-reset {
 	background: var(--main-bg-color);
	color: var(--secondary-fg-color);
}
